
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    width: 100%;
}
main{
    width: 350px;
    background-color: white;
    border-radius: 20px;
    margin: 10% auto;
    
}
#image{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 20px;
}
#order{
    text-align: center;
    font-size: 16px;
}
#plan{
    font-weight: bold;
}
p{
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
}
#change{
    color: blue;
    font-family: "Red Hat Display", sans-serif;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 2px;
    padding: 15px;
    border-radius: 10px;
    background-color: hsl(225, 100%, 97%);
}
.payment{
    text-align: center;
    margin: 20px;
    border: 2px ;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
}
.payment a{
    text-decoration: none;
    color: white;
}
#cancel{
    color: black;
}
.payment a:hover{
    opacity: 0.5;
}
a:hover{
    opacity: 0.5;
}
#proceed{
    background-color: hsl(245, 75%, 52%);
    color: white;
}
#cancel{
    background-color: hsl(225, 100%, 98%);
}
.attribution{
    text-align: center;
    font-family: "Red Hat Display", sans-serif;
}
@media screen and (max-width:600px){
    body{
        background-image:url(../images/pattern-background-mobile.svg)
    }
    main{
        margin: 25% auto;
    }
}
@media screen and (max-width:350px) {
    main{
        width: 250px;
    }
}
